@font-face {
    font-family: 'Gotham book Italic';
    src: url('../fonts/font-name-webfont.eot?v=4.3.0');
    src:  url('../fonts/Gotham-BookItalic.otf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/font-name-webfont.eot?v=4.3.0');
    src:  url('../fonts/Gotham-Bold.otf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gotham Light';
    src: url('../fonts/font-name-webfont.eot?v=4.3.0');
    src:  url('../fonts/Gotham-Light.otf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gotham Thin';
    src: url('../fonts/font-name-webfont.eot?v=4.3.0');
    src:  url('../fonts/Gotham-Thin.otf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gotham Thin Italic';
    src: url('../fonts/font-name-webfont.eot?v=4.3.0');
    src:  url('../fonts/Gotham-ThinItalic.otf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gotham Book Italic';
    src: url('../fonts/font-name-webfont.eot?v=4.3.0');
    src:  url('../fonts/Gotham-BookItalic.otf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
body{
   
   
    background-color: #1f2e33;
  }
  
header .navbar{
    border-radius: 0;
   
  
}
.navbar{
    background-color: #fff;
    max-height:50px;
    width: 100%;
}



.nav-items{
    display: flex;
    flex-direction: row;
   
}

.nav-items a:hover {
    color: #000;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
}
.nav-items a {
    color: #000;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
   
}
.nav-items a {
    margin: 2%;
    margin-bottom: 0% !important;
}

.icon-logo {
 
  
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
   
}
.icon-logo img{
    width: 80%;  
  
}
/* Home */
section{
    margin-bottom: 5%;
}
.ilustration img{
    width: 100%;
}
.content-home h1{
    font-size: 50px;
}
.content-home p{
    font-size: 20px;
    padding-top: 10%;
}
/* Page Posts */
.carrosel-portifolio{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.card-body{
    text-align: center;
}
.card-title{
    font-size: 20px;
}
.card-text{
    font-size: 13px;
}
.title-pages{
    text-align: center;
    font-size: 30px;
}
.description-pages{
    text-align: center;
    font-size: 20px;
}

main{
    min-height: 500px;
    padding: 50px 0;
}

footer{
    
    font-size: 14px;
    background-color: #3cc9b4 !important;
    text-align: center;
}
.footer-items{
    padding-top: 10%;
    padding-bottom: 5%;
    width: 100%;
    background-color: #3cc9b4 !important;
    
    text-align: center;

   
    

}
.footer-items h4{
    font-size: 25px;
    font-family: 'Gotham Bold';
}
.footer-items p{
    padding-top: 5%;
    font-size: 15px;
    font-family: 'Gotham Light';
}


.introduction{
    text-align: center;
   
    width: 100%;
    height: 20%;
}
/* Landing Page - initial */
.index-introduction{
    padding: 10%;
   
}
.index-introduction img{
    width: 80%;

    
}
.content-sobrenos{
    text-align: right;
    padding-top: 10%;
    
}
.content-sobrenos h2{
    font-size: 40px;
    font-family: "Gotham Bold", sans-serif;
    
}
.content-sobrenos h3{
    font-size: 30px;
    background-color: #3cc9b4;
    font-family: "Gotham Book Italic", sans-serif;
    
}
.content-sobrenos p{
    font-size: 20px;
}
.logo-slogan{
    display: flex;
    flex-direction: row;
    padding-bottom: 12% ;
}

.slogan h2{
    color: #fff;
    text-align: left;
    padding-top: 30%;
    font-size: 50px;
    
}
.image-servicos{
    width: 100%;
}
.image-servicos img{
    width: 50%;
    position: relative;
    left: 25%;
   
}

.image-servicos h2{
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding-top: 5%;
 
    
}
.destaque{
    color: #000;
    background: #d2f823;
    border-radius: 5px;
   
}
.about-us {
    color: #1f2e33;
    background: #fff !important;
    
}
.about-us h2{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    text-align: left;
  
    font-size: 50px;
    
}
.about-us p{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    
    text-align: left;
   
    font-size: 20px;
    
}
.form{
    background: #173735;
    border-radius: 10px;
    -webkit-box-shadow: -2px -3px 41px -2px rgba(0,0,0,1);
    -moz-box-shadow: -2px -3px 41px -2px rgba(0,0,0,1);
    box-shadow: -2px -3px 41px -2px rgba(0,0,0,1);
    padding: 10%;
    margin-bottom: 5%;
    text-align: center;
    width: 100%;
    
}
.form h2{
    color: #fff;
    font-size: 50px;
    text-align: center;
    
}
.form h4{ 
    font-size: 40px;
    padding-top: 2%;
    
}   
.form h4 a {
    color: #fff;
    text-decoration: none;
}
.form h4 a:hover {
    color: #fff;
    text-decoration: none;

}
.form input{
    border-radius: 5px;
    border: inherit;
    font-size: 20px;
    width: 100%;
}
.form textarea{
    border-radius: 5px;
    border: inherit;
    font-size: 20px;
    width: 100%;
    padding-bottom: 5%;

}
.form button{
    align-items: center;
    border: inherit;
    background: #fff;
    width: 150px;
    height: 50px;
    font-size: 20px;
   

}
.footer-copy{
    color: #1f2e33;
    text-align: center;
    font-size: 15px;
    padding-top: 5%;
  
}
.customers img{
    width: 100%;
    align-items: center;
}
.logos {
    align-items: center;
}
.customers{
    background: #fff;
   
}
.customers img{
    width: 100%;
    
}
.customers h2{
   
    color: #1f2e33;
    font-size: 50px;
    padding-top: 2%;
}
.home_poonto{
    background-image: url(../images/Home.png)  ;
    background-size: 100%;
    background-repeat: no-repeat;
    width: auto;
    height:900px;
    

}
.conteudo_header_poonto{
    padding-top: 30px;
   
}
.header_poonto{
    display: flex;
    flex-direction: row;
}


.menu_poonto {
    
    padding-top:15px;
    margin:0px;
    list-style-type: none;  
    display: flex;
    justify-content: center;
    
    
    
        
    
}
.title_poonto{
    padding-top: 15%;
    padding-left: 8%;
    font-family: "Gotham Light", sans-serif ;
    
}
.title_poonto h2{
    font-size: 50px;
}
.header_contato_span{
    background-color: #000;
    border-radius: 20px;
    padding: 10%;
    color: #fff;
    font-family: "Gotham Bold", sans-serif;
}
.title_span_poonto{
    background: #fff;
    background-size: 100%;
    font-family: "Gotham Bold", sans-serif ;
}
.menu_poonto li a{
    font-family: "Gotham Light", sans-serif ;
    display: inline;
    padding: 2px 10px ;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.dropdown_menu{
    display: none;
}
.menu_poonto li a:hover{
    font-family: "Gotham Bold", sans-serif ;
    display: inline;
    padding: 2px 10px ;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.menu_poonto_responsivo{
    display: none;
}
.button-servico {
    background-color:#3cc9b4 ;
    border-radius: 20px;
    border-color: transparent;
    font-size: 15px;
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    font-family: "Gotham Bold", sans-serif ;

    
}
.button-servico a{
    color: #fff;
    text-decoration: none;
}
.button-servico a:hover{
    color: #fff;
    text-decoration: none;
}
.card-fileira{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.servicos-cards-poonto{
    display: flex;
    flex-direction: column;
}
.servicos-title{
    padding-left: 10%;
    align-items: flex-start;
    
}
.servicos-title h2{
    font-size: 40px;
    font-family: "Gotham Bold", sans-serif ;
}
.servicos-title h3{
    font-family: "Gotham Light", sans-serif ;
    font-size: 20px;
}
.servicos-cards-poonto{
    display: flex;
    align-items: center;
    width: 100%;
}
.card{
    background: #f2f3f4 !important;
    border-color: transparent !important;
    margin: 10px;
    padding: 5%;
}   
.card h2{
    text-align: left;
    font-size: 15px;
    font-family: "Gotham Light", sans-serif ;
}
.card h2 span{
    font-size: 12px;
}
.sublinhado-dev{
    border-color: #3cc9b4;
    background: #3cc9b4;
    width: 90%;
    height: 2px
}
.sublinhado-bi{
    border-color: #3cc9b4;
    background: #3cc9b4;
    width: 70%;
    height: 2px
}
.sublinhado-ti{
    border-color: #3cc9b4;
    background: #3cc9b4;
    width: 30%;
    height: 2px
}
.sublinhado-id{
    border-color: #3cc9b4;
    background: #3cc9b4;
    width: 40%;
    height: 2px
}
.sublinhado-ui{
    border-color: #3cc9b4;
    background: #3cc9b4;
    width: 35%;
    height: 2px
}
.sublinhado-ani{
    border-color: #3cc9b4;
    background: #3cc9b4;
    width: 45%;
    height: 2px
}
.card-text{
    text-align: left !important;
}
.servicos{
    padding-bottom: 5%;
}
@media screen and (max-width: 1000px) {
    .servicos-cards-poonto{
        
       align-items: center;
       display: flex;
       padding-left: 8%;
       padding-top: 5%;
    }
    .servicos{
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;

    }
    .servicos-title{
      text-align: center;
      padding-left: 0%;
     
      
        
    }
    .servicos-title h2{
        font-size: 50px;
        font-family: "Gotham Bold", sans-serif ;
        text-align: center;
      
    }
    .servicos-title h3{
        font-family: "Gotham Light", sans-serif ;
        font-size: 20px;
    }

    .card-fileira{
        display: flex;
        flex-direction: column;
        
        justify-content: center;
    }
    .card{
        width: 40rem !important;
    }
    .card h2{
        text-align: left;
        font-size: 30px;
        font-family: "Gotham Light", sans-serif ;
    }
    .card h2 span{
        font-size: 20px;
    }
    .card-text{
        font-size: 25px;
    }
    .home_poonto{
       
        height:100px;
        
    
    }
    .menu_poonto_responsivo{
        display: flex;
        justify-content: center;
        margin-left: 30%;
        list-style-type: none;
    }
    .menu_poonto_responsivo li a{
        font-family: "Gotham Light", sans-serif ;
        display: inline;
        padding: 2px 10px ;
        font-size: 20px;
        color: black;
        text-decoration: none;
    }
    .menu_poonto_responsivo li a:hover{
        font-family: "Gotham Bold", sans-serif ;
        display: inline;
        padding: 2px 10px ;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
    }
    .title_poonto{
        padding-top: 0%;
        padding-left: 15%;
        text-align: right;
        display: none;
        background-color: #fff;
        font-family: "Gotham Light", sans-serif ;
    }
    .title_poonto h2{
        font-size: 20px;
    }
    .menu_poonto {
    
       
        
       display: none;
        
            
        
    }
    .content-sobrenos{
        text-align: center;
        padding-top: 10%;
        
    }
    .index-introduction{
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
    }
    
    .index-introduction img{
       width: 100%;
    
        
    }
    
    .content-sobrenos h2{
        font-size: 50px;
        font-family: "Gotham Bold", sans-serif;
        
    }
    .content-sobrenos h3{
        font-size: 25px;
        background-color: #3cc9b4;
        font-family: "Gotham Book Italic", sans-serif;
        
    }
    .content-sobrenos p{
        font-size: 20px;
    }
    .footer-items{
        padding-top: 10%;
        padding-bottom: 5%;
        width: 100%;
        background-color: #3cc9b4 !important;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
       
        
    
    }
   
  }